@import "tailwindcss";

@font-face {
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("./font/A2BYn5pb0QgtVEPFnlYOk4Lwa5I.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

@font-face {
    font-family: 'Kode Mono';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("./font/A2BYn5pb0QgtVEPFnlYOnYLw.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

@theme {
    --color-bg1: #0B022D;
    --color-bg2: #200094;
    --color-bg3: #000240;
    --color-bg4: #280088;
    --color-purp: #9f62f0;
    /* Tailwind v4 generates font-kode utility from --font-kode */
    --font-kode: "Kode Mono", monospace;
    --screen-md: 768px;
    --screen-xl: 1280px;
}



.bg-text {
    @apply
        text-white
        opacity-0
        text-nowrap
        absolute
        duration-100
        font-light;
    animation: pulsing 5s infinite ease-in-out alternate;
    -webkit-animation: pulsing 5s infinite ease-in-out alternate;
}

@keyframes pulsing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.15;
    }
}


/* HAMBURGER */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    margin: 0 auto;
    width: 35px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 35px;
    height: 5px;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 1px;
}

.bar2,
.bar3 {
    top: 13px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.hamburger .bar1 {
    transform-origin: 5%;
}

.hamburger .bar4 {
    transform-origin: 5%;
}

.burgermenu:checked + label > .hamburger > .bar1{
    transform: rotate(45deg);
    height: 5px;
    width: 37.5px;
}

.burgermenu:checked + label > .hamburger > .bar3{
    transform: rotate(45deg);
    height: 5px;
    background-color: transparent;
}

.burgermenu:checked + label > .hamburger > .bar2{
    transform: rotate(-45deg);
    height: 5px;
    background-color: transparent;
}

.burgermenu:checked + label > .hamburger > .bar4{
    transform: rotate(-45deg);
    height: 5px;
    width: 38px;
}

.burgermenu:checked + label ~ #menu {
    @apply 
        flex
        w-[100%];
}



#contacts {
    @apply 
        flex
        flex-col
        md:flex-row
        xl:flex-row
        justify-center
        flex-wrap
        items-start
        align-middle
        gap-5
        mx-5;
}

#contacts a {
    @apply
        bg-bg3
        flex
        justify-between
        align-middle
        border-white
        border-2
        rounded-full
        w-fit
        font-semibold
        transition-all
        hover:scale-[103%]
        hover:bg-bg4
        translate-y-2
        duration-100;
}

#contacts a span {
    @apply
        text-lg
        md:text-2xl
        xl:text-2xl
        align-bottom
        pl-3
        md:pl-5
        xl:pl-5
        mr-5
        md:mr-7
        xl:mr-7
        my-[5px]
        xl:my-[22px]
        md:my-[22px];
}

#contacts a img {
    @apply
        h-[40px] w-auto
        md:h-[70px]
        xl:h-[70px]
        py-1
        md:pt-2;

}
